@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
        url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "latoregular", "sans-serif";
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
    margin-top: 60px;
  }



  /* Hero Header */

.hero-header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    background-color: #101014;
    height: 500px;
}

.hero-header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero-header .intro-text .intro-lead-in {
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

.hero-header .intro-text .intro-heading {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

.hero-header .video-holder {
    margin: 25px 0;
}

.hero-header video {
    max-width: 700px;
    width: 100%;
}

/*-------------------------------------------------------------- POUR LES MODIFICATION ------------------------------------------------------------*/

.lead1 {

    font-size: 15px !important;
}

#sliderDePresentation{
    overflow: hidden;
}

#sliderDePresentation figure {
    position: relative;
    width:500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}

#sliderDePresentation figure header {
    width:20%;
    float: left;
}   

@keyframes slider {

    0% {
        left:0;
    }

    20% {
        left:0;
    }

    25% {
        left:-100%;
    }

    45% {
        left:-100%;
    }

    50% {
        left:-200%;
    }

    70% {
        left:-200%;
    }

    75% {
        left:-300%;
    }

    95% {
        left:-300%;
    }

    100% {
        left:-400%;
    }

    120% {
        left:-400%;
    }
}

/* .contenuAboutDiv{
    display: -webkit-flex;
  display: flex;
    
}

.textePresentation{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: 60%;
}

.ImagePresentation{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: green;
    width: 40%;
    
} */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  text-align: center;
}

.column {
  width: 100%;
  padding: 0.5em 0;
}



.titreSectionCenter {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #101014;
}

.titreSectionLeft {
  width: 100%;
  text-align: left;
  font-size: 3.5em;
  color: #101014;
}

.titreSectionRight {
    width: 100%;
    text-align: right;
    font-size: 3.5em;
    color: #101014;
}

.card {
  box-shadow: 0 0 2em rgba(25, 0, 58, 0.1);
  border-radius: 0.6em;
  padding: 2.5em 1em;
  cursor: pointer;
  color: #101014;
  transition: 1s;
  background-color: #ffffff;
}

.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #34EDC2;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.card h3 {
  font-weight: 600;
}

.card p {
    font-weight: 100;
    margin: 0em 0 2.5em 0;
    text-align: justify;
    color: #808080;
}

#Role
{
  font-weight: 400;
  margin: 0.5em 0 0.5em 0;
  letter-spacing: 2px;
  text-align: center;
  color: #101014;
}
  
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.card:hover {
  background: linear-gradient(#2BC29F, #33E8BE);
  padding: 3.5em 1em;
  color: #ffffff;
}

.card:hover .img-container {
  transform: scale(1.20);
}

.card:hover p{
    color: #ffffff;
}

.iconcolor:hover {
   color: #101014;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* 320px (points de vue de téléphone plus petits)*/
@media screen and  (min-width: 320px ) { 

}

/* 480 pixels (petits appareils et la plupart des téléphones) */
@media screen and  (min-width: 480px) {

}

/* 768 pixels (la plupart des tablettes)*/
@media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }

/* 992px (points de vue de bureau plus petits) */
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

